<?xml version="1.0"?>
<launch>

  <!-- "camera" should uniquely identify the device. All topics are pushed down
       into the "camera" namespace, and it is prepended to tf frame ids. -->
  <arg name="name" default="radio_cam" />
  <!-- device_id can have the following formats:
         "#1"  : the first device found
         "2@X" : the Xth device on USB bus 2 -->
  <!--arg name="device" default="#1" /-->
  
  <!-- 
  <include file="$(find openni2_launch)/launch/openni2.launch">
      <arg name="camera" value="$(arg name)" />
      <arg name="device_id" value="$(arg device)" />
      <arg name="rgb_frame_id"   value="$(arg name)_rgb_optical_frame" />
      <arg name="depth_frame_id" value="$(arg name)_depth_optical_frame" />
      <arg name="publish_tf" value="false" />	
  </include>

  -->
  <include file="$(find astra_launch)/launch/astra.launch">
      <arg name="camera" value="$(arg name)" />
      <!--arg name="device_id" value="$(arg device)" /-->
      <arg name="rgb_frame_id"   value="$(arg name)_rgb_optical_frame" />
      <arg name="depth_frame_id" value="$(arg name)_depth_optical_frame" />
      <arg name="publish_tf" value="false" />	
  </include>
 
</launch>
